Repository jplindgren/Bloggering, changes with the labels that .github/labeler.yml gives for each.
All labels: code, test, configuration, documentation, authentication, CI, repo, any

testing labels trigger
  blah.json
  src/config/auth/configuration.service.ts
Labels: code, configuration, authentication, repo, any

Update label.yml
  .github/workflows/label.yml
Labels: CI, any

Create auto-label.json
  .github/auto-label.json
Labels: any

testing auto label
  adsadsa.json
  src/config/auth/configuration.module.ts
Labels: code, configuration, authentication, repo, any

Update auto-label.json
  .github/auto-label.json
Labels: any

Update auto-label.json
  .github/auto-label.json
Labels: any

dsada
  .github/auto-label.json
Labels: any

testing
  dadsa.json
  src/config/auth/configuration.module.ts
Labels: code, configuration, authentication, repo, any

Update auto-label.json
  .github/auto-label.json
Labels: any

testing again...
  blah.json
  src/auth/auth.module.ts
  src/config/auth/configuration.service.ts
Labels: code, configuration, authentication, repo, any

.github/labeler.yml:

# Add 'repo' label to any root file changes
code:
  - ./**/src/**/*.ts
  - ./**/src/**/*.js

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - ./**/src/*.spec.js
  
# Add 'config' label to any change to config files within the source dir
configuration:
  - ./**/src/config/*
  - ./*.json
  - ./.gitignore  
  
# Add 'doc' label to any change to readme files within the source dir
documentation:  
  - ./**/README.md
  
# Add 'auth' label to any change to auth files within the source dir
authentication:
  - ./**/auth/*

CI:
  - ./.github/**/*.yml

# Add 'repo' label to any root file changes
repo:
  - ./*
  
# Add 'repo' label to any root file changes
any:
  - ./**
